In [1]:
%load_ext sql
%config SqlMagic.autocommit=False
%sql mysql+pymysql://root:root@127.0.0.1:3306/mysql

'Connected: root@mysql'

## Problem 1: Controls

Write a Python script that proves that the lines of data in Germplasm.tsv, and LocusGene are in the same sequence, based on the AGI Locus Code (ATxGxxxxxx). (hint: This will help you decide how to load the data into the database)

In [6]:
import re 

text1 = open("Germplasm.tsv")
text2 = open("LocusGene.tsv")

search1 = re.findall("AT[1-5]G[0-9]{5}", text1.read())
search2 = re.findall("AT[1-5]G[0-9]{5}", text2.read())

#print(search1)
#print(search2)


count = 0

for i in search1:
    
    if search1[count]==search2[count]:
        print(f"Line {count+1} of data in Germplasm.tsv ({i}) and LocusGene.tsv ({search2[count]}) are in the same sequence\n")
        count=count+1
        
    else:
        print(f"Line {count+1} does not match: Germplasm.tsv ({search1[count]}) - LocusGene.tsv ({search2[count]})\n")
        count=count+1

Line 1 of data in Germplasm.tsv (AT1G01040) and LocusGene.tsv (AT1G01040) are in the same sequence

Line 2 of data in Germplasm.tsv (AT1G01060) and LocusGene.tsv (AT1G01060) are in the same sequence

Line 3 of data in Germplasm.tsv (AT1G01140) and LocusGene.tsv (AT1G01140) are in the same sequence

Line 4 of data in Germplasm.tsv (AT1G01220) and LocusGene.tsv (AT1G01220) are in the same sequence

Line 5 of data in Germplasm.tsv (AT2G03720) and LocusGene.tsv (AT2G03720) are in the same sequence

Line 6 of data in Germplasm.tsv (AT2G03800) and LocusGene.tsv (AT2G03800) are in the same sequence

Line 7 of data in Germplasm.tsv (AT2G04240) and LocusGene.tsv (AT2G04240) are in the same sequence

Line 8 of data in Germplasm.tsv (AT2G05210) and LocusGene.tsv (AT2G05210) are in the same sequence

Line 9 of data in Germplasm.tsv (AT3G02130) and LocusGene.tsv (AT3G02130) are in the same sequence

Line 10 of data in Germplasm.tsv (AT3G02140) and LocusGene.tsv (AT3G02140) are in the same sequence

Line 11 of data in Germplasm.tsv (AT3G02230) and LocusGene.tsv (AT3G02230) are in the same sequence

Line 12 of data in Germplasm.tsv (AT3G02260) and LocusGene.tsv (AT3G02260) are in the same sequence

Line 13 of data in Germplasm.tsv (AT3G02310) and LocusGene.tsv (AT3G02310) are in the same sequence

Line 14 of data in Germplasm.tsv (AT3G02680) and LocusGene.tsv (AT3G02680) are in the same sequence

Line 15 of data in Germplasm.tsv (AT3G02850) and LocusGene.tsv (AT3G02850) are in the same sequence

Line 16 of data in Germplasm.tsv (AT3G02870) and LocusGene.tsv (AT3G02870) are in the same sequence

Line 17 of data in Germplasm.tsv (AT3G03260) and LocusGene.tsv (AT3G03260) are in the same sequence

Line 18 of data in Germplasm.tsv (AT4G14790) and LocusGene.tsv (AT4G14790) are in the same sequence

Line 19 of data in Germplasm.tsv (AT4G15210) and LocusGene.tsv (AT4G15210) are in the same sequence

Line 20 of data in Germplasm.tsv (AT4G15560) and LocusGene.tsv (AT4G15560) are in the same sequence

Line 21 of data in Germplasm.tsv (AT4G15570) and LocusGene.tsv (AT4G15570) are in the same sequence

Line 22 of data in Germplasm.tsv (AT4G15802) and LocusGene.tsv (AT4G15802) are in the same sequence

Line 23 of data in Germplasm.tsv (AT4G15880) and LocusGene.tsv (AT4G15880) are in the same sequence

Line 24 of data in Germplasm.tsv (AT4G16420) and LocusGene.tsv (AT4G16420) are in the same sequence

Line 25 of data in Germplasm.tsv (AT4G16480) and LocusGene.tsv (AT4G16480) are in the same sequence

Line 26 of data in Germplasm.tsv (AT5G10480) and LocusGene.tsv (AT5G10480) are in the same sequence

Line 27 of data in Germplasm.tsv (AT5G10510) and LocusGene.tsv (AT5G10510) are in the same sequence

Line 28 of data in Germplasm.tsv (AT5G11110) and LocusGene.tsv (AT5G11110) are in the same sequence

Line 29 of data in Germplasm.tsv (AT5G11260) and LocusGene.tsv (AT5G11260) are in the same sequence

Line 30 of data in Germplasm.tsv (AT5G11510) and LocusGene.tsv (AT5G11510) are in the same sequence

Line 31 of data in Germplasm.tsv (AT5G12200) and LocusGene.tsv (AT5G12200) are in the same sequence

Line 32 of data in Germplasm.tsv (AT5G13290) and LocusGene.tsv (AT5G13290) are in the same sequence

## Problem 2: Design and create the database

* It should have two tables - one for each of the two data files.
* The two tables should be linked in a 1:1 relationship
* you may use either sqlMagic or pymysql to build the database

In [7]:
%sql create database Exam2_database;

%sql show databases;

 * mysql+pymysql://root:***@127.0.0.1:3306/mysql
1 rows affected.
 * mysql+pymysql://root:***@127.0.0.1:3306/mysql
6 rows affected.

[('information_schema',),
 ('Exam2_database',),
 ('germplasm',),
 ('mysql',),
 ('performance_schema',),
 ('sys',)]

In [8]:
%sql use Exam2_database;

%sql CREATE TABLE Germplasm(id INTEGER NOT NULL AUTO_INCREMENT PRIMARY KEY, Locus VARCHAR(9) NOT NULL, germplasm VARCHAR(400) NOT NULL, phenotype VARCHAR(400) NOT NULL, pubmed INTEGER NOT NULL, LocusGene_id INTEGER NOT NULL);

%sql CREATE TABLE LocusGene(id INTEGER NOT NULL AUTO_INCREMENT PRIMARY KEY, Locus VARCHAR(9) NOT NULL, Gene VARCHAR(255) NOT NULL, ProteinLength INTEGER NOT NULL);

%sql show tables;

 * mysql+pymysql://root:***@127.0.0.1:3306/mysql
0 rows affected.
 * mysql+pymysql://root:***@127.0.0.1:3306/mysql
0 rows affected.
 * mysql+pymysql://root:***@127.0.0.1:3306/mysql
0 rows affected.
 * mysql+pymysql://root:***@127.0.0.1:3306/mysql
2 rows affected.

[('Germplasm',), ('LocusGene',)]

In [9]:
# In case you want to check it is empty

%sql SELECT * FROM Germplasm;

 * mysql+pymysql://root:***@127.0.0.1:3306/mysql
0 rows affected.

[]

In [10]:
# In case you want to check it is empty

%sql SELECT * FROM LocusGene;

 * mysql+pymysql://root:***@127.0.0.1:3306/mysql
0 rows affected.

[]

## Problem 3: Fill the database

Using pymysql, create a Python script that reads the data from these files, and fills the database. There are a variety of strategies to accomplish this. I will give all strategies equal credit - do whichever one you are most confident with.

In [11]:
%sql INSERT INTO Germplasm (Locus, germplasm, phenotype, pubmed, LocusGene_id) VALUES ("AT1G01040", "CS3828", "Increased abundance of miRNA precursors.", 17369351, 1)
%sql INSERT INTO Germplasm (Locus, germplasm, phenotype, pubmed, LocusGene_id) VALUES ("AT1G01060", "lhy-101", "The mutant plants are hypersensitive to both FRc and Rc light treatments in hypocotyl elongation and exhibits a small reciprocal enlargement in cotyledon area, albeit not statistically significant.", 16891401, 2)
%sql INSERT INTO Germplasm (Locus, germplasm, phenotype, pubmed, LocusGene_id) VALUES ("AT1G01140", "SALK_058629", "hypersensitive to low potassium media", 17486125, 3)
%sql INSERT INTO Germplasm (Locus, germplasm, phenotype, pubmed, LocusGene_id) VALUES ("AT1G01220", "SALK_012400C", "fkgp-1 mutants have about 40 times more L-fucose than wild type Arabidopsis plants, but the levels of other monosaccharides do not appear to differ significantly in the mutants. No obvious phenotypic abnormalities were observed in the fkgp-1 mutants, nor were any differences in the sugar composition of cell wall polysaccharides detected.", 16367956, 4)
%sql INSERT INTO Germplasm (Locus, germplasm, phenotype, pubmed, LocusGene_id) VALUES ("AT2G03720", "SALK_042433", "Multiple straight hairs", 16367956, 5)
%sql INSERT INTO Germplasm (Locus, germplasm, phenotype, pubmed, LocusGene_id) VALUES ("AT2G03800", "gek1-1", "Ethanol hypersensitivity.", 15215505, 6)
%sql INSERT INTO Germplasm (Locus, germplasm, phenotype, pubmed, LocusGene_id) VALUES ("AT2G04240", "xerico", "Resistant to exogenous ABA. Seeds contained lower amounts of endogenous ABA than wildtype.", 17933900, 7)
%sql INSERT INTO Germplasm (Locus, germplasm, phenotype, pubmed, LocusGene_id) VALUES ("AT2G05210", "pot1-1", "No visible phenotype.", 17627276, 8)
%sql INSERT INTO Germplasm (Locus, germplasm, phenotype, pubmed, LocusGene_id) VALUES ("AT3G02130", "rpk2-2", "The homozygous progeny is indistinguishable from wild-type plants during vegetative growth but showed several morphological alterations after bolting. These plants displayed enhanced inflorescence branching and formed three times as many siliques and flowers as did wild-type plants.", 17419837, 9)
%sql INSERT INTO Germplasm (Locus, germplasm, phenotype, pubmed, LocusGene_id) VALUES ("AT3G02140", "afp4-1", "Decreased germination on high concentrations of glucose and sorbitol.", 18484180, 10)
%sql INSERT INTO Germplasm (Locus, germplasm, phenotype, pubmed, LocusGene_id) VALUES ("AT3G02230", "rgp1-1", "rgp1-1 mutants have significantly lower levels of UDP-L-arabinose mutase activity compared to wild-type plants and significantly lower levels of arabinose in their cell walls.", 21478444, 11)
%sql INSERT INTO Germplasm (Locus, germplasm, phenotype, pubmed, LocusGene_id) VALUES ("AT3G02260", "tir3-1 RGLG1:rglg1 rglg2", "The triple homozygous progeny has low viability, accumulated anthocyanin, and all plants died before shoot emergence.", 17586653, 12)
%sql INSERT INTO Germplasm (Locus, germplasm, phenotype, pubmed, LocusGene_id) VALUES ("AT3G02310", "sep2-1", "Non-described subtle phenotype.", 10821278, 13)
%sql INSERT INTO Germplasm (Locus, germplasm, phenotype, pubmed, LocusGene_id) VALUES ("AT3G02680", "atnbs1-1", "Significantly smaller when grown in the presence of methyl methanosulfonate (MMS) with root growth. Normal growth under standard growth conditions.", 17672843, 14)
%sql INSERT INTO Germplasm (Locus, germplasm, phenotype, pubmed, LocusGene_id) VALUES ("AT3G02850", "CS3816", "The skor-1 mutant is sensitive to toxic cations in addition to K+ depletion.", 17568770, 15)
%sql INSERT INTO Germplasm (Locus, germplasm, phenotype, pubmed, LocusGene_id) VALUES ("AT3G02870", "vtc4-1", "ascorbate deficient", 16595667, 16)
%sql INSERT INTO Germplasm (Locus, germplasm, phenotype, pubmed, LocusGene_id) VALUES ("AT3G03260", "hdg8-1", "No visible phenotype.", 16778018, 17)
%sql INSERT INTO Germplasm (Locus, germplasm, phenotype, pubmed, LocusGene_id) VALUES ("AT4G14790", "pdd17", "Defective pollen development.", 19237690, 18)
%sql INSERT INTO Germplasm (Locus, germplasm, phenotype, pubmed, LocusGene_id) VALUES ("AT4G15210", "bmy1-2", "Plants cold-shocked for 6h have an increased starch content compared to wildtype.", 16297066, 19)
%sql INSERT INTO Germplasm (Locus, germplasm, phenotype, pubmed, LocusGene_id) VALUES ("AT4G15560", "cla1-1", "Mutant seeds grown on medium supplemented with non-phosphorylated synthetic 1-deoxy-D-xylulose (DX) develop green leaves.", 10982425, 20)
%sql INSERT INTO Germplasm (Locus, germplasm, phenotype, pubmed, LocusGene_id) VALUES ("AT4G15570", "maa3", "Homozygotes are not recovered. Female gametophyte development is delayed and asynchronous. During fertilization, fusion of polar nuclei does not occur. Polar nuclei nucloeli are smaller than WT.", 18772186, 21)
%sql INSERT INTO Germplasm (Locus, germplasm, phenotype, pubmed, LocusGene_id) VALUES ("AT4G15802", "Athspb-2", "Early flowering, reduced fertility, aborted seeds.", 20388662, 22)
%sql INSERT INTO Germplasm (Locus, germplasm, phenotype, pubmed, LocusGene_id) VALUES ("AT4G15880", "esd4-2", "Decreased mRNA levels of the floral repressors FLC and MAF4 and increased mRNA levels of the floral activators FT and SOC1.", 17513499, 23)
%sql INSERT INTO Germplasm (Locus, germplasm, phenotype, pubmed, LocusGene_id) VALUES ("AT4G16420", "prz1-1", "Altered response to auxin and cytokinin", 12747832, 24)
%sql INSERT INTO Germplasm (Locus, germplasm, phenotype, pubmed, LocusGene_id) VALUES ("AT4G16480", "atint4-2", "No visible phenotype.", 16603666, 25)
%sql INSERT INTO Germplasm (Locus, germplasm, phenotype, pubmed, LocusGene_id) VALUES ("AT5G10480", "pas2-3", "Segregates 25% embryo lethal.", 18799749, 26)
%sql INSERT INTO Germplasm (Locus, germplasm, phenotype, pubmed, LocusGene_id) VALUES ("AT5G10510", "plt3-1", "Short roots and shortened root meristem.", 17960244, 27)
%sql INSERT INTO Germplasm (Locus, germplasm, phenotype, pubmed, LocusGene_id) VALUES ("AT5G11110", "kns2", "Defects are specific to pollen exine structure. Smaller mesh size in the exine structure. Increased number of baculae. Fully fertile.", 18779216, 28)
%sql INSERT INTO Germplasm (Locus, germplasm, phenotype, pubmed, LocusGene_id) VALUES ("AT5G11260", "hy5-101", "Under FRc conditions, the length mutant hypocotyls is increased compared to that of wild-type plants. Under Rc conditions, the hypocotyl length is also increased and the cotyledon area is smaller.", 16891401, 29)
%sql INSERT INTO Germplasm (Locus, germplasm, phenotype, pubmed, LocusGene_id) VALUES ("AT5G11510", "myb3r4-1", "No visible phenotype.", 17287251, 30)
%sql INSERT INTO Germplasm (Locus, germplasm, phenotype, pubmed, LocusGene_id) VALUES ("AT5G12200", "pyd2-2", "The pyd2-2 mutant has a wild-type appearance under normal growth conditions. Pyrimidine nucleotide and uridine levels are not changed in the mutant, but uracil levels are increased. These mutants cannot grow normally when uracil is provided as a sole nitrogen source.", 19413687, 31)
%sql INSERT INTO Germplasm (Locus, germplasm, phenotype, pubmed, LocusGene_id) VALUES ("AT5G13290", "crn-1", "Increased meristem size. Vegetative meristems are are 30% larger than wild type. After bolting inflorescence meristems are enlarged and occasionally fasciated. Flowers occasionally produce extra organs in the first 3.", 12345678, 32)


%sql INSERT INTO LocusGene (Locus, Gene, ProteinLength) VALUES ("AT1G01040", "DCL1", 332)
%sql INSERT INTO LocusGene (Locus, Gene, ProteinLength) VALUES ("AT1G01060", "LHY", 290)
%sql INSERT INTO LocusGene (Locus, Gene, ProteinLength) VALUES ("AT1G01140", "CIPK9", 223)
%sql INSERT INTO LocusGene (Locus, Gene, ProteinLength) VALUES ("AT1G01220", "FKGP", 190)
%sql INSERT INTO LocusGene (Locus, Gene, ProteinLength) VALUES ("AT2G03720", "MRH6", 189)
%sql INSERT INTO LocusGene (Locus, Gene, ProteinLength) VALUES ("AT2G03800", "GEK1", 196)
%sql INSERT INTO LocusGene (Locus, Gene, ProteinLength) VALUES ("AT2G04240", "XERICO", 256)
%sql INSERT INTO LocusGene (Locus, Gene, ProteinLength) VALUES ("AT2G05210", "POT1A", 221)
%sql INSERT INTO LocusGene (Locus, Gene, ProteinLength) VALUES ("AT3G02130", "RPK2", 284)
%sql INSERT INTO LocusGene (Locus, Gene, ProteinLength) VALUES ("AT3G02140", "TMAC2", 300)
%sql INSERT INTO LocusGene (Locus, Gene, ProteinLength) VALUES ("AT3G02230", "RGP1", 301)
%sql INSERT INTO LocusGene (Locus, Gene, ProteinLength) VALUES ("AT3G02260", "BIG",  279)
%sql INSERT INTO LocusGene (Locus, Gene, ProteinLength) VALUES ("AT3G02310", "SEP2", 175)
%sql INSERT INTO LocusGene (Locus, Gene, ProteinLength) VALUES ("AT3G02680", "NBS1", 190)
%sql INSERT INTO LocusGene (Locus, Gene, ProteinLength) VALUES ("AT3G02850", "SKOR", 234)
%sql INSERT INTO LocusGene (Locus, Gene, ProteinLength) VALUES ("AT3G02870", "VTC4", 311)
%sql INSERT INTO LocusGene (Locus, Gene, ProteinLength) VALUES ("AT3G03260", "HDG8", 194)
%sql INSERT INTO LocusGene (Locus, Gene, ProteinLength) VALUES ("AT4G14790", "SUV3", 312)
%sql INSERT INTO LocusGene (Locus, Gene, ProteinLength) VALUES ("AT4G15210", "BAM5", 313)
%sql INSERT INTO LocusGene (Locus, Gene, ProteinLength) VALUES ("AT4G15560", "DXS", 219)
%sql INSERT INTO LocusGene (Locus, Gene, ProteinLength) VALUES ("AT4G15570", "MAA3", 294)
%sql INSERT INTO LocusGene (Locus, Gene, ProteinLength) VALUES ("AT4G15802", "HSBP", 254)
%sql INSERT INTO LocusGene (Locus, Gene, ProteinLength) VALUES ("AT4G15880", "ESD4", 265)
%sql INSERT INTO LocusGene (Locus, Gene, ProteinLength) VALUES ("AT4G16420", "ADA2B", 279)
%sql INSERT INTO LocusGene (Locus, Gene, ProteinLength) VALUES ("AT4G16480", "INT4", 284)
%sql INSERT INTO LocusGene (Locus, Gene, ProteinLength) VALUES ("AT5G10480", "PAS2", 301)
%sql INSERT INTO LocusGene (Locus, Gene, ProteinLength) VALUES ("AT5G10510", "AIL6", 310)
%sql INSERT INTO LocusGene (Locus, Gene, ProteinLength) VALUES ("AT5G11110", "SPS2", 232)
%sql INSERT INTO LocusGene (Locus, Gene, ProteinLength) VALUES ("AT5G11260", "HY5", 221)
%sql INSERT INTO LocusGene (Locus, Gene, ProteinLength) VALUES ("AT5G11510", "MYB3R-4", 336)
%sql INSERT INTO LocusGene (Locus, Gene, ProteinLength) VALUES ("AT5G12200", "PYD2", 310)
%sql INSERT INTO LocusGene (Locus, Gene, ProteinLength) VALUES ("AT5G13290", "CRN", 189)

 * mysql+pymysql://root:***@127.0.0.1:3306/mysql
1 rows affected.
 * mysql+pymysql://root:***@127.0.0.1:3306/mysql
1 rows affected.
 * mysql+pymysql://root:***@127.0.0.1:3306/mysql
1 rows affected.
 * mysql+pymysql://root:***@127.0.0.1:3306/mysql
1 rows affected.
 * mysql+pymysql://root:***@127.0.0.1:3306/mysql
1 rows affected.
 * mysql+pymysql://root:***@127.0.0.1:3306/mysql
1 rows affected.
 * mysql+pymysql://root:***@127.0.0.1:3306/mysql
1 rows affected.
 * mysql+pymysql://root:***@127.0.0.1:3306/mysql
1 rows affected.
 * mysql+pymysql://root:***@127.0.0.1:3306/mysql
1 rows affected.
 * mysql+pymysql://root:***@127.0.0.1:3306/mysql
1 rows affected.
 * mysql+pymysql://root:***@127.0.0.1:3306/mysql
1 rows affected.
 * mysql+pymysql://root:***@127.0.0.1:3306/mysql
1 rows affected.
 * mysql+pymysql://root:***@127.0.0.1:3306/mysql
1 rows affected.
 * mysql+pymysql://root:***@127.0.0.1:3306/mysql
1 rows affected.
 * mysql+pymysql://root:***@127.0.0.1:3306/mysql
1 rows affected.
 * mysql+pymysql://root:***@127.0.0.1:3306/mysql
1 rows affected.
 * mysql+pymysql://root:***@127.0.0.1:3306/mysql
1 rows affected.
 * mysql+pymysql://root:***@127.0.0.1:3306/mysql
1 rows affected.
 * mysql+pymysql://root:***@127.0.0.1:3306/mysql
1 rows affected.
 * mysql+pymysql://root:***@127.0.0.1:3306/mysql
1 rows affected.
 * mysql+pymysql://root:***@127.0.0.1:3306/mysql
1 rows affected.
 * mysql+pymysql://root:***@127.0.0.1:3306/mysql
1 rows affected.
 * mysql+pymysql://root:***@127.0.0.1:3306/mysql
1 rows affected.
 * mysql+pymysql://root:***@127.0.0.1:3306/mysql
1 rows affected.
 * mysql+pymysql://root:***@127.0.0.1:3306/mysql
1 rows affected.
 * mysql+pymysql://root:***@127.0.0.1:3306/mysql
1 rows affected.
 * mysql+pymysql://root:***@127.0.0.1:3306/mysql
1 rows affected.
 * mysql+pymysql://root:***@127.0.0.1:3306/mysql
1 rows affected.
 * mysql+pymysql://root:***@127.0.0.1:3306/mysql
1 rows affected.
 * mysql+pymysql://root:***@127.0.0.1:3306/mysql
1 rows affected.
 * mysql+pymysql://root:***@127.0.0.1:3306/mysql
1 rows affected.
 * mysql+pymysql://root:***@127.0.0.1:3306/mysql
1 rows affected.
 * mysql+pymysql://root:***@127.0.0.1:3306/mysql
1 rows affected.
 * mysql+pymysql://root:***@127.0.0.1:3306/mysql
1 rows affected.
 * mysql+pymysql://root:***@127.0.0.1:3306/mysql
1 rows affected.
 * mysql+pymysql://root:***@127.0.0.1:3306/mysql
1 rows affected.
 * mysql+pymysql://root:***@127.0.0.1:3306/mysql
1 rows affected.
 * mysql+pymysql://root:***@127.0.0.1:3306/mysql
1 rows affected.
 * mysql+pymysql://root:***@127.0.0.1:3306/mysql
1 rows affected.
 * mysql+pymysql://root:***@127.0.0.1:3306/mysql
1 rows affected.
 * mysql+pymysql://root:***@127.0.0.1:3306/mysql
1 rows affected.
 * mysql+pymysql://root:***@127.0.0.1:3306/mysql
1 rows affected.
 * mysql+pymysql://root:***@127.0.0.1:3306/mysql
1 rows affected.
 * mysql+pymysql://root:***@127.0.0.1:3306/mysql
1 rows affected.
 * mysql+pymysql://root:***@127.0.0.1:3306/mysql
1 rows affected.
 * mysql+pymysql://root:***@127.0.0.1:3306/mysql
1 rows affected.
 * mysql+pymysql://root:***@127.0.0.1:3306/mysql
1 rows affected.
 * mysql+pymysql://root:***@127.0.0.1:3306/mysql
1 rows affected.
 * mysql+pymysql://root:***@127.0.0.1:3306/mysql
1 rows affected.
 * mysql+pymysql://root:***@127.0.0.1:3306/mysql
1 rows affected.
 * mysql+pymysql://root:***@127.0.0.1:3306/mysql
1 rows affected.
 * mysql+pymysql://root:***@127.0.0.1:3306/mysql
1 rows affected.
 * mysql+pymysql://root:***@127.0.0.1:3306/mysql
1 rows affected.
 * mysql+pymysql://root:***@127.0.0.1:3306/mysql
1 rows affected.
 * mysql+pymysql://root:***@127.0.0.1:3306/mysql
1 rows affected.
 * mysql+pymysql://root:***@127.0.0.1:3306/mysql
1 rows affected.
 * mysql+pymysql://root:***@127.0.0.1:3306/mysql
1 rows affected.
 * mysql+pymysql://root:***@127.0.0.1:3306/mysql
1 rows affected.
 * mysql+pymysql://root:***@127.0.0.1:3306/mysql
1 rows affected.
 * mysql+pymysql://root:***@127.0.0.1:3306/mysql
1 rows affected.
 * mysql+pymysql://root:***@127.0.0.1:3306/mysql
1 rows affected.
 * mysql+pymysql://root:***@127.0.0.1:3306/mysql
1 rows affected.
 * mysql+pymysql://root:***@127.0.0.1:3306/mysql
1 rows affected.
 * mysql+pymysql://root:***@127.0.0.1:3306/mysql
1 rows affected.

[]

In [ ]:
 # In case you want to check it is filled with data

%sql SELECT * FROM Germplasm;

In [ ]:
# In case you want to check it is filled with data

%sql SELECT * FROM LocusGene;

## Problem 4: Create reports, written to a file

**1. Create a report that shows the full, joined, content of the two database tables (including a header line)**

In [12]:
%sql SELECT * FROM Germplasm INNER JOIN LocusGene ON Germplasm.LocusGene_id = LocusGene.id;

 * mysql+pymysql://root:***@127.0.0.1:3306/mysql
32 rows affected.

[(1, 'AT1G01040', 'CS3828', 'Increased abundance of miRNA precursors.', 17369351, 1, 1, 'AT1G01040', 'DCL1', 332),
 (2, 'AT1G01060', 'lhy-101', 'The mutant plants are hypersensitive to both FRc and Rc light treatments in hypocotyl elongation and exhibits a small reciprocal enlargement in cotyledon area, albeit not statistically significant.', 16891401, 2, 2, 'AT1G01060', 'LHY', 290),
 (3, 'AT1G01140', 'SALK_058629', 'hypersensitive to low potassium media', 17486125, 3, 3, 'AT1G01140', 'CIPK9', 223),
 (4, 'AT1G01220', 'SALK_012400C', 'fkgp-1 mutants have about 40 times more L-fucose than wild type Arabidopsis plants, but the levels of other monosaccharides do not appear to differ s ... (41 characters truncated) ... henotypic abnormalities were observed in the fkgp-1 mutants, nor were any differences in the sugar composition of cell wall polysaccharides detected.', 16367956, 4, 4, 'AT1G01220', 'FKGP', 190),
 (5, 'AT2G03720', 'SALK_042433', 'Multiple straight hairs', 16367956, 5, 5, 'AT2G03720', 'MRH6', 189),
 (6, 'AT2G03800', 'gek1-1', 'Ethanol hypersensitivity.', 15215505, 6, 6, 'AT2G03800', 'GEK1', 196),
 (7, 'AT2G04240', 'xerico', 'Resistant to exogenous ABA. Seeds contained lower amounts of endogenous ABA than wildtype.', 17933900, 7, 7, 'AT2G04240', 'XERICO', 256),
 (8, 'AT2G05210', 'pot1-1', 'No visible phenotype.', 17627276, 8, 8, 'AT2G05210', 'POT1A', 221),
 (9, 'AT3G02130', 'rpk2-2', 'The homozygous progeny is indistinguishable from wild-type plants during vegetative growth but showed several morphological alterations after bolting. These plants displayed enhanced inflorescence branching and formed three times as many siliques and flowers as did wild-type plants.', 17419837, 9, 9, 'AT3G02130', 'RPK2', 284),
 (10, 'AT3G02140', 'afp4-1', 'Decreased germination on high concentrations of glucose and sorbitol.', 18484180, 10, 10, 'AT3G02140', 'TMAC2', 300),
 (11, 'AT3G02230', 'rgp1-1', 'rgp1-1 mutants have significantly lower levels of UDP-L-arabinose mutase activity compared to wild-type plants and significantly lower levels of arabinose in their cell walls.', 21478444, 11, 11, 'AT3G02230', 'RGP1', 301),
 (12, 'AT3G02260', 'tir3-1 RGLG1:rglg1 rglg2', 'The triple homozygous progeny has low viability, accumulated anthocyanin, and all plants died before shoot emergence.', 17586653, 12, 12, 'AT3G02260', 'BIG', 279),
 (13, 'AT3G02310', 'sep2-1', 'Non-described subtle phenotype.', 10821278, 13, 13, 'AT3G02310', 'SEP2', 175),
 (14, 'AT3G02680', 'atnbs1-1', 'Significantly smaller when grown in the presence of methyl methanosulfonate (MMS) with root growth. Normal growth under standard growth conditions.', 17672843, 14, 14, 'AT3G02680', 'NBS1', 190),
 (15, 'AT3G02850', 'CS3816', 'The skor-1 mutant is sensitive to toxic cations in addition to K+ depletion.', 17568770, 15, 15, 'AT3G02850', 'SKOR', 234),
 (16, 'AT3G02870', 'vtc4-1', 'ascorbate deficient', 16595667, 16, 16, 'AT3G02870', 'VTC4', 311),
 (17, 'AT3G03260', 'hdg8-1', 'No visible phenotype.', 16778018, 17, 17, 'AT3G03260', 'HDG8', 194),
 (18, 'AT4G14790', 'pdd17', 'Defective pollen development.', 19237690, 18, 18, 'AT4G14790', 'SUV3', 312),
 (19, 'AT4G15210', 'bmy1-2', 'Plants cold-shocked for 6h have an increased starch content compared to wildtype.', 16297066, 19, 19, 'AT4G15210', 'BAM5', 313),
 (20, 'AT4G15560', 'cla1-1', 'Mutant seeds grown on medium supplemented with non-phosphorylated synthetic 1-deoxy-D-xylulose (DX) develop green leaves.', 10982425, 20, 20, 'AT4G15560', 'DXS', 219),
 (21, 'AT4G15570', 'maa3', 'Homozygotes are not recovered. Female gametophyte development is delayed and asynchronous. During fertilization, fusion of polar nuclei does not occur. Polar nuclei nucloeli are smaller than WT.', 18772186, 21, 21, 'AT4G15570', 'MAA3', 294),
 (22, 'AT4G15802', 'Athspb-2', 'Early flowering, reduced fertility, aborted seeds.', 20388662, 22, 22, 'AT4G15802', 'HSBP', 254),
 (23, 'AT4G15880', 'esd4-2', 'Decreased mRNA levels of the floral repressors FLC and MAF4 and increased mRNA levels of the floral activators FT and SOC1.', 17513499, 23, 23, 'AT4G15880', 'ESD4', 265),
 (24, 'AT4G16420', 'prz1-1', 'Altered response to auxin and cytokinin', 12747832, 24, 24, 'AT4G16420', 'ADA2B', 279),
 (25, 'AT4G16480', 'atint4-2', 'No visible phenotype.', 16603666, 25, 25, 'AT4G16480', 'INT4', 284),
 (26, 'AT5G10480', 'pas2-3', 'Segregates 25% embryo lethal.', 18799749, 26, 26, 'AT5G10480', 'PAS2', 301),
 (27, 'AT5G10510', 'plt3-1', 'Short roots and shortened root meristem.', 17960244, 27, 27, 'AT5G10510', 'AIL6', 310),
 (28, 'AT5G11110', 'kns2', 'Defects are specific to pollen exine structure. Smaller mesh size in the exine structure. Increased number of baculae. Fully fertile.', 18779216, 28, 28, 'AT5G11110', 'SPS2', 232),
 (29, 'AT5G11260', 'hy5-101', 'Under FRc conditions, the length mutant hypocotyls is increased compared to that of wild-type plants. Under Rc conditions, the hypocotyl length is also increased and the cotyledon area is smaller.', 16891401, 29, 29, 'AT5G11260', 'HY5', 221),
 (30, 'AT5G11510', 'myb3r4-1', 'No visible phenotype.', 17287251, 30, 30, 'AT5G11510', 'MYB3R-4', 336),
 (31, 'AT5G12200', 'pyd2-2', 'The pyd2-2 mutant has a wild-type appearance under normal growth conditions. Pyrimidine nucleotide and uridine levels are not changed in the mutant, but uracil levels are increased. These mutants cannot grow normally when uracil is provided as a sole nitrogen source.', 19413687, 31, 31, 'AT5G12200', 'PYD2', 310),
 (32, 'AT5G13290', 'crn-1', 'Increased meristem size. Vegetative meristems are are 30% larger than wild type. After bolting inflorescence meristems are enlarged and occasionally fasciated. Flowers occasionally produce extra organs in the first 3.', 12345678, 32, 32, 'AT5G13290', 'CRN', 189)]

**2. Create a joined report that only includes the Genes SKOR and MAA3**

In [13]:
%sql SELECT * FROM Germplasm INNER JOIN LocusGene ON Germplasm.LocusGene_id = LocusGene.id WHERE Gene="SKOR" OR Gene="MAA3";

 * mysql+pymysql://root:***@127.0.0.1:3306/mysql
2 rows affected.

[(15, 'AT3G02850', 'CS3816', 'The skor-1 mutant is sensitive to toxic cations in addition to K+ depletion.', 17568770, 15, 15, 'AT3G02850', 'SKOR', 234),
 (21, 'AT4G15570', 'maa3', 'Homozygotes are not recovered. Female gametophyte development is delayed and asynchronous. During fertilization, fusion of polar nuclei does not occur. Polar nuclei nucloeli are smaller than WT.', 18772186, 21, 21, 'AT4G15570', 'MAA3', 294)]

**3. Create a report that counts the number of entries for each Chromosome (AT1Gxxxxxx to AT5Gxxxxxxx)**

In [14]:
#Counts for chromosome 1 (they all begin with AT1)

%sql SELECT COUNT(Locus) AS "AT1 matches" FROM LocusGene WHERE Locus LIKE "AT1%";

 * mysql+pymysql://root:***@127.0.0.1:3306/mysql
1 rows affected.

[(4,)]

In [15]:
#Counts for chromosome 2 (they all begin with AT2)

%sql SELECT COUNT(Locus) AS "AT2 matches" FROM LocusGene WHERE Locus LIKE "AT2%";

 * mysql+pymysql://root:***@127.0.0.1:3306/mysql
1 rows affected.

[(4,)]

In [16]:
#Counts for chromosome 3 (they all begin with AT3)

%sql SELECT COUNT(Locus) AS "AT3 matches" FROM LocusGene WHERE Locus LIKE "AT3%";

 * mysql+pymysql://root:***@127.0.0.1:3306/mysql
1 rows affected.

[(9,)]

In [17]:
#Counts for chromosome 4 (they all begin with AT4)

%sql SELECT COUNT(Locus) AS "AT4 matches" FROM LocusGene WHERE Locus LIKE "AT4%";

 * mysql+pymysql://root:***@127.0.0.1:3306/mysql
1 rows affected.

[(8,)]

In [18]:
#Counts for chromosome 5 (they all begin with AT5)

%sql SELECT COUNT(Locus) AS "AT5 matches" FROM LocusGene WHERE Locus LIKE "AT5%";

 * mysql+pymysql://root:***@127.0.0.1:3306/mysql
1 rows affected.

[(7,)]

**4. Create a report that shows the average protein length for the genes on each Chromosome (AT1Gxxxxxx to AT5Gxxxxxxx)**

In [19]:
# Protein length average on chromosomes 1

%sql SELECT AVG(ProteinLength) AS "avg protein length on AT1" FROM LocusGene WHERE Locus LIKE "AT1%";

 * mysql+pymysql://root:***@127.0.0.1:3306/mysql
1 rows affected.

[(Decimal('258.7500'),)]

In [20]:
# Protein length average on chromosomes 2

%sql SELECT AVG(ProteinLength) AS "avg protein length on AT2" FROM LocusGene WHERE Locus LIKE "AT2%";

 * mysql+pymysql://root:***@127.0.0.1:3306/mysql
1 rows affected.

[(Decimal('215.5000'),)]

In [21]:
# Protein length average on chromosomes 3

%sql SELECT AVG(ProteinLength) AS "avg protein length on AT3" FROM LocusGene WHERE Locus LIKE "AT3%";

 * mysql+pymysql://root:***@127.0.0.1:3306/mysql
1 rows affected.

[(Decimal('252.0000'),)]

In [22]:
# Protein length average on chromosomes 4

%sql SELECT AVG(ProteinLength) AS "avg protein length on AT4" FROM LocusGene WHERE Locus LIKE "AT4%";

 * mysql+pymysql://root:***@127.0.0.1:3306/mysql
1 rows affected.

[(Decimal('277.5000'),)]

In [23]:
# Protein length average on chromosomes 5

%sql SELECT AVG(ProteinLength) AS "avg protein length on AT5" FROM LocusGene WHERE Locus LIKE "AT5%";

 * mysql+pymysql://root:***@127.0.0.1:3306/mysql
1 rows affected.

[(Decimal('271.2857'),)]

<pre>



<pre>

In [ ]:
# In case you wanted to remove the database created in the exam, run this command:

%sql drop database Exam2_database;